.navigation {
     background-color: rgb(16, 16, 34);     
}

.nav-center {
     margin: 0 3vw;
}

.nav-name {
     color: white;
     text-decoration: none;
}

.home_nav:hover {
     color: #CCFF66;
}

.professional_experience_nav:hover {
     color: #00FFFF;
}

.projects_nav:hover {
     color: #FF0400;
}

.resume_nav:hover {
     color: #FFC700;
}