
.experience-buttons {
    display: flex;
    width: 100vw;
    margin: 0 auto;
    justify-content: center;
    margin-top: 10vh;
}

.experience-buttons *{
    width: 18vw;
    height: 12.5vh;
    margin: 0 2vw;
}

.first-card {
    background-image: linear-gradient(to right, #4B79A1, #283E51);
}

.second-card {
    background-image: linear-gradient(to right, #948E99, #2E1437);
}

.third-card {
    background-image: linear-gradient(to right, #44A08D, #093637);
}

.mid-space {
    margin-top: 10vh
}

.extra-space {
    height: 100vh;
}