.experience {
    background-color: #101022;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='176' height='176' viewBox='0 0 100 100'%3E%3Crect x='0' y='0' width='3' height='3' fill-opacity='0.7' fill='%23FFFFFF'/%3E%3C/svg%3E");
}

.experience-container {
    width: 95vw;
    margin: 0 auto;
    border: 1px solid white;
}

.exp_title {
    font-size: 2vw;
    text-align: center;
    color: white;
}

.experience-buttons {
    display: flex;
    width: 100vw;
    margin: 0 auto;
    justify-content: center;
    margin-top: 10vh;
}

.experience-buttons *{
    width: 18vw;
    height: 12.5vh;
    margin: 0 2vw;
}

.mid-space {
    padding-top: 10vh
}
.extra-space {
    height: 100vh;
}

.vmware1-border{
    border-radius: 50px;
    background-image: linear-gradient(to right, #feac5e, #c779d0, #4bc0c8);
    padding: 8px;
}
.vmware1-body {
    background-color: rgb(16, 16, 34);
    color: white;
}

.vmware2-border {
    border-radius: 50px;
    background-image: linear-gradient(to right, #1a2a6c, #b21f1f, #fdbb2d);
    padding: 8px;
}
.vmware2-body {
    background-color: rgb(16, 16, 34);
    color: white;
}

.gea-border {
    border-radius: 50px;
    background-image: linear-gradient(to right, #59C173, #a17fe0, #5D26C1);
    padding: 8px;
}
.gea-body {
    background-color: rgb(16, 16, 34);
    color: white;
}

.uf-ta-border {
    border-radius: 50px;
    background-image: linear-gradient(to right, #c9ffbf, #ffafbd);
    padding: 8px;
}
.uf-ta-body {
    background-color: rgb(16, 16, 34);
    color: white;
}

.intern-hack-border {
    border-radius: 50px;
    background-image: linear-gradient(to right, #24c6dc, #514a9d);
    padding: 8px;
}
.intern-hack-body {
    background-color: rgb(16, 16, 34);
    color: white;
}