.home-title, .home-details{
    margin: auto;
    text-align: center;
}

.home-title {
    margin-top: 20vh;
    width: 90%;
    font-size: calc(100% + 2vw);
    font-weight: 600;
}

.home-details {
    margin-top: 5vh;
    font-size: calc(100% + 0.25vw);
}
  
.home-contact {
    margin: auto;
    margin-top: 15vh;
    text-align: center;
}

.home-contact p {
    font-size: calc(100% + 0.6vw);
}

.home-icon {
    font-size: calc(100% + 1.5vw);
    margin-left: 1.5vw;
    margin-right: 1.5vw;
}